{% extends 'MainBundle::Layout.html.twig' %}

{% block home %}
	<!-- Partner -->
	<div id="partner" class="container-fluid no-padding partner">
		<div class="section-padding"></div>
		<div class="container">
			
			
		</div>
		<div class="section-padding"></div>
	</div><!-- Partner /- -->
 {% endblock %}